*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    /*obviously het scrolt smooth naar boven*/
}
body{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header, footer{
    background-color: rgb(5, 12, 62);
    color: blanchedalmond;
    height: 6rem;
}

main{
    padding: 4rem;
    min-height: 60vh;
}

nav{
    width: 60vw;
    height: 100%;
    /*belangrijk*/
    margin: 0 auto;
    /*links en rechts even veel ruimte*/
}

nav > ul{
    display: flex;
    /*zodat alles naast elkaar komt staan (flex)*/
    list-style: none;
    height: 100%;
    width: 100%;
    /*belangrijk*/
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    color: firebrick;
}

nav > ul > li{
    width: 100%;
    height: 100%;
}

.active{
    background: red;
}

nav > ul > li > a{
    color: white;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 6rem;
    text-decoration: none;
}

footer > p{
    width:60vw;
    margin: 0 auto;
    padding-left: 4rem;
}

h1{
    font-size: 250%;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid black;
    font-weight: 500;
}

section{
    width: 60vw;
    margin: 0 auto;
    padding: 4rem;
}

article{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

.box{
    width: 100%;
    height: 40rem;
    position: relative;
    padding: 0;
    margin-bottom: 4rem;
}

.box > figure{
    width: 100%;
    height: 100%;
}

.box > a > figure{
    width: 100%;
    height: 100%;
}

.box > a > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.box > a > figure > img:hover{
    transform: none;
}

.box > a > section{
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 4rem;
    color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, 60%,  black);
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

figure{
    margin-bottom: 4rem;
}

figure > img{
    width: 100%;
    border-radius: 5px;
    transition: 0.2s transform;
}

figcaption{
    font-size: 80%;
    font-style: italic;
    font-weight: 400;
}

img{
    width: 100%;
    border-radius: 10px;
    transition: 0.2s transform;
    /*makes boing for photo*/
}

img:hover{
    cursor:pointer;
    transform: scale(1.05);
    /*makes photo big ye*/
}

p{
    margin-bottom: 4rem;
}

p:last-of-type{
    margin-bottom: 0;
}

figcaption{
    font-size: 80%;
    font-style: italic;
    font-weight: 400;
}

audio{
    display: block;
    width: 50%;
    margin-top: 2rem;
}

video{
    width: 100%;
    margin-bottom: 4rem;
    border-radius: 5px;
}

.top{
    width: 8rem;
    height: 8rem;
    background: #101010;
    border: none;
    border-radius: 10px;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    position: fixed;
    right: 12rem;
    bottom: 12rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    /*horizontaal midden*/
    align-items: center;
    /*verticaal midden*/
    
}

footer{
    height: 6rem;
    display: flex;
    align-items: center;

}

footer > p{
    width: 60vw;
    margin: 0 auto;
    padding-left: 4rem;
}

@media screen and (max-width: 100rem) {
        article{
            width: 80vw;
        }   
    }

    main{
        width: 100vw;
    }

    footer > p{
        width: 80vw;
    }
   
    .top{
        width: 6rem;
        height: 6rem;
        right: 6rem;
        bottom: 6rem;
    }

    header{
        height: auto;
    }

    nav{
        width: 100%;
    }

    nav > ul{
        display: block; 
    }

@media screen and (max-width: 60rem) {
    body{
        font-size: 1.6rem;
    }
    article{
        width: 100vw;
        padding: 2rem;
    }
    h1{
        font-size: 180%;
    }
    footer > p{
        width: 100vw;
        padding-left: 2rem;
    }
}